body { font:12px/22px Verdana, Geneva, sans-serif; background:#fff; color:#333; }
body,p,ul,ol,li,dl,dt,dd,input,h1,h2,h3,h4,form,hr { padding:0; margin:0; }
img { border:0; }
table { border-collapse:collapse; }
input { font-size:12px; }
label { display:inline-block; padding-top:1px; }
label input { border:0; line-height:20px; padding:0px 10px; overflow:visible; color:#fff; }
label.ui-green { background:#98c286; border:1px solid #3b6e22; }
label.ui-green input { background:#68a54c; }
label.ui-blue { background:#8a9cc2; border:1px solid #29447e; }
label.ui-blue input { background:#5e77aa; }
ul { list-style:none; }
a:link, a:visited { color:#3a52a8; text-decoration:none; }
a:hover, a:active { color:#3a52a8; text-decoration:underline; }
.bold { font-weight:bold; }
.hide { display:none; }
.show { display:block; }
.clear { clear:both; }
.text-center { text-align:center; }
.spacer { height:8px; overflow:hidden; }

#main { padding:10px 0; }
#main .lefter { float:left; width:180px; }
#main .lefter .box { border:1px solid #c3c3c3; }
#main .lefter h2 { background:#fff0d9; font-size:14px; color:#853200; padding:2px 8px; }
#main .lefter .box dl dt { color:#404040; font-weight:bold; background:#fafafa; padding:2px 10px; }
#main .lefter .box dl dd { margin-left:10px; background:url(../images/bg.png) -232px -82px no-repeat; padding-left:25px; }
#main .lefter .box dl dd a { color:#666; }
#main .lefter .last-view { border:1px solid #c3c3c3; }
#main .lefter .last-view dl { margin:5px; }
#main .lefter .last-view dl dt { float:left; width:60px; height:60px; text-align:center; }
#main .lefter .last-view dl dt img { border:1px solid #ccc; }
#main .lefter .last-view dl dd { height:60px; margin-left:66px; }
#main .lefter .last-view dl dd a { color:#666; }
#main .main { float:right; width:770px; }
#main .main .price-off { float:left; width:520px; }
#main .main .side { float:right; width:235px; }
#main .left-side { float:left; width:235px; }
#main .right-main { float:right; width:715px; }
#main .main h1,
#main .right-main h1 { padding:0 10px; font-size:18px; line-height:50px; border-bottom:1px dashed #cfcfcf; }
#main .main h2 { font-size:14px; line-height:30px; background:url(../images/bg.png) -230px -100px no-repeat; border-bottom:2px solid #fbaa62; padding-left:25px; }
ul.product li { width:110px; line-height:18px; height:160px; float:left; display:inline; margin:9px; }
ul.product li dl dt { text-align:center; }
ul.product li dl dt img { width:100px; height:100px; }
ul.product li dl dd.title { word-wrap:no-wrap; word-break:break-all; height:36px; overflow:hidden; }
ul.product li dl dd.title a { color:#666; }
ul.product li dl dd.price { color:#c30; font-weight:bold; }

#reply-box { clear:both; font-size:14px; border-top:1px solid #ccc; padding:5px 0; }
#reply-box table td { padding:5px 0; }
#reply-box table td.field { width:100px; text-align:right; }
#reply-box table td input.text { border:1px solid #ccc; width:320px; padding:4px 6px; }
#reply-box table td textarea { border:1px solid #ccc; width:320px; height:80px; padding:4px 6px; }


#chat-room {}
#chat-room .lefter { float:left; width:140px; height:400px; border-right:1px solid #ccc; overflow-y:scroll; }
#chat-room .lefter h2 { background:#fafafa; border-bottom:1px solid #eee; font-size:14px; line-height:24px; text-align:center; }
#chat-room .lefter ul li { line-height:24px; padding:10px; }
#chat-room .lefter ul li a{ display:block; background:url(../images/bg.png) -231px -152px no-repeat; padding-left:20px; }
#chat-room .righter { float:left; width:445px; display:inline; margin:5px; }
#chat-room .righter #history { height:500px;width:430px; border:1px solid #ccc; padding:5px; overflow-y:scroll; }
#chat-room .righter .reply .text { border:1px solid #ccc; width:380px; margin-right:5px; padding:4px; vertical-align:middle; }
#chat-room .righter .reply label { vertical-align:middle; }
#news .content { font-size:14px; line-height:30px; padding:15px; }



